body{
    background-color:#eef5ff!important;
}

#profile-wrapper{
    text-align: center!important;
}

#profile-pic{
    width:150px!important;
    height:150px!important;
    border-radius:50%!important;
    margin-left:auto!important;
    margin-right:auto!important;
    zoom: 1.2;
}

.custom-button{
    border:none;
    border-radius:8px;
    background-color:#E5E1DA;
    padding:6px 35px;
    display:inline-block;
    font-size:15px;
    margin:auto; 
    text-decoration: none;
    color:black;
    transition: background-color 0.3s, color 0.3s;
    cursor: pointer;
    /* border: 1px solid #3498db; */
}

.custom-button:hover{
    background-color: #0f2167; /* Set your desired hover background color */
    color: #ffffff;
}


ul{
    padding:0;
    list-style-type:none;
}

.social-links ul, li{
    list-style-type:none;
    display:inline-block;
    padding:5px;

}

.social{
    width:25px;
    height:25px;
}

.social:hover{
    zoom:1.2;
}