body{
    background-color:#eef5ff!important;
}

#profile-wrapper{
    text-align: center!important;
}

#profile-pic{
    width:150px!important;
    height:150px!important;
    border-radius:50%!important;
    margin-left:auto!important;
    margin-right:auto!important;
    zoom: 1.2;
}

.custom-button{
    border:none!important;
    border-radius:8px!important;
    background-color:#E5E1DA!important;
    padding:6px 35px!important;
    display:inline-block!important;
    font-size:15px!important;
    margin:auto!important; 
    text-decoration: none!important;
    color:black!important;
    transition: background-color 0.3s, color 0.3s!important;
    cursor: pointer!important;
    /* border: 1px solid #3498db; */
}

.custom-button:hover{
    background-color: #0f2167!important; /* Set your desired hover background color */
    color: #ffffff!important;
}


ul{
    padding:0!important;
    list-style-type:none!important;
}

.social-links ul, li{
    list-style-type:none!important;
    display:inline-block!important;
    padding:5px!important;

}

.social{
    width:25px!important;
    height:25px!important;
}

.social:hover{
    zoom:1.2!important;
}